body, html {
    height: 100%;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.parallax {
	background-image: url("Spiral.jpg");
	height: 120%;
	width: 100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
}

#MyName {
	font-family: "Playfair Display";
	font-size: 75px;
	color: white;
	text-align: center;
	position: 50%;
	margin: auto;
	text-shadow: 3px 2px blue;
	padding-top: 305px;
	padding-bottom: 305px;
	min-height: 70px;
	max-width: auto;
}

#heading {
	font-family: "Monserrat";
	text-decoration: underline;
	font-size:60px;
	color: black;
	text-align: center;
	position: 50%;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 90px;
	min-height: 70px;
}

.SelfPortrait {	
	width: 300px;
	height: auto;
	margin: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#connect-heading {
	font-family: "Monserrat";
	text-decoration: underline;
	font-size:60px;
	color: white;
	text-align: center;
	position: 50%;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 75px;
	min-height: 70px;
}

.bio {
	padding-top: 275px;
	padding-right: 60px;
	font-family: "Spectral Semibold";
	letter-spacing: 1px;
	font-size: 16px;
}

.bold {
	font-weight: bold;
	font-size:  16px;
}

.blackbackground {
	background: black;
	margin-top: 50px;
}

.btn {
	margin: 13px;
	color: white;
	position: 50%;
	margin: auto;
}

.btnSpace {
	padding: 15px;
}

.createSpace {
	padding-top: 20px;
	padding-bottom: 20px;
}